/* font-size */
.font-sm {
  font-size: var(--font-size-sm);
}
.font-lg {
  font-size: var(--font-size-lg);
}
.font-xl {
  font-size: var(--font-size-xl);
}

/* font-weight */
.font-100 {
  font-weight: 100;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-700 {
  font-weight: 700;
}

/* font-color */
.font-white {
  color: var(--color-white);
}
.font-gray {
  color: var(--color-gray);
}
.font-orange {
  color: var(--color-orange);
}
.font-cream {
  color: var(--color-cream);
}

/* font-util */
.font-break::after {
  content: "\A";
  white-space: pre;
}
.text-center {
  text-align: center;
}
.vertical-middle {
  vertical-align: middle;
}
